<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
    <title>popup test</title>
    <link rel="stylesheet" type="text/css" href="popup.css">
    <script src="http://underscorejs.org/underscore.js"></script>
</head>

<body>
    <button class="fc-content">open popup</button>
    <button class="fc-content">open popup</button>
    <button class="fc-content">open popup</button>
    <button class="fc-content">open popup</button>
    <div class="popupBackground">
        <div class="popupContent">
            <span class="popupClose">&times;</span>
            <div class="parsedContent">

            </div>
        </div>
    </div>
    <script src="popup.js"></script>
</body>

</html>
