<!DOCTYPE html>
<html>

<head>
    <title>popup test</title>
    <link rel="stylesheet" type="text/css" href="popup.css">
</head>

<body>
    <button class="fc-content">Open Modal</button>
    <button class="fc-content">Open Modal</button>
    <button class="fc-content">Open Modal</button>
    <button class="fc-content">Open Modal</button>
    <div id="popup" class="popupBackground">

        <div class="popupContent">
            <span class="popupClose">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>
    <script src="popup.js"></script>
</body>

</html>
