/*팝업배경*/

.popupBackground {
    /* 기본값 숨김 */
    display: none;
    /* Stay in place */
    position: fixed;
    /* 제일 위에 띄우기 */
    z-index: 11;
    /* 팝업 배경 위치*/
    padding-top: 100px;
    left: 0;
    top: 0;
    /* 너비*/
    width: 100%;
    /* 높이 */
    height: 100%;
    /* 스크롤 가능 */
    overflow: auto;
}


/* 팝업 Content */

.popupContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    position: fixed;
}


/* 닫기 버튼*/

.popupClose:not(.popupBackground) {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/*x버튼 마우스 hover 했을때 css 애니메이션*/

.popupClose:hover,.delete:hover, .modify:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*팝업 콘텐트*/

.parsedContent {
    padding: 10px;
}


/*팝업 콘텐트 내의 br간격*/

br {
    line-height: 150%;
}

.modify,.delete{
  margin: 2px;
  padding: 3px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  border-color: #2caa22;
  color: #2caa22;
}

.modify:hover,.delete:hover{
  background-color: rgba(44, 186, 34, 0.2);
  color:#2caa22;
}
